# Windows systeemmappen negeren
/AppData/
/Documents/
/Downloads/
/Favorites/
/Links/
/Music/
/NTUSER.DAT*
/Desktop/
/Mijn documenten/
/Recent/
/Videos/
/Personal Vault.lnk

# VS Code instellingen negeren
.vscode/

# Python bestanden negeren
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Specifieke Python-bestanden negeren
*.dat
*.log
